@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Great+Vibes");
@import url("https://fonts.googleapis.com/css?family=Pontano+Sans");

@import "./modules/_variables";

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
}

/*
header {
}
*/

main {
  width: 100%;
  height: 100vh;

  .container-slide {
    width: 100%;
    height: 100%;

    .swiper-container {
      width: 100%;
      height: 100%;
      z-index: 0;

      .swiper-slide {
        background-position: center;
        background-size: cover;
      }
    }
  }

  .bullets {
    height: 10%;
    width: auto;
    position: absolute;
    top: 50%;
    left: 5%;

    .container-bullets {
      width: max-content;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      cursor: pointer;

      .select-bullet {
        height: 2px;
        width: 25px;
        background-color: #fff;
        cursor: pointer;
      }

      .select-bullet.active {
        width: 60px;
        background-color: #ffd900d5;
      }
    }
  }

  .chevrones {
    height: 10%;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    top: 50%;
    right: 5%;

    .container-chevrones {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .chevron-izquierdo {
        color: #fff;
        font-size: 1.5rem;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        display: flex;
        background-color: #000000d5;
        margin: auto;
        margin-right: 1rem;
        opacity: 0.7;
      }

      .swiper-button-prev,
      .swiper-button-next {
        position: unset;
        background-image: unset;
      }

      .chevron-derecho {
        color: #fff;
        font-size: 1.5rem;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        display: flex;
        background-color: #000000d5;
        margin: auto;
        margin-left: 1rem;
        opacity: 0.7;
      }
    }
  }
}

section.bienvenido {
  width: 100%;
  height: 100vh;
}

section.galeria {
  padding: 4rem 0;
  .main-text {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem 4rem 2rem;

    h3 {
      font-size: 4.7rem;
      font-family: $goodvibes;
      margin: 0;
      color: $oliva;
    }

    h2 {
      margin: 0;
      font-weight: 800;
      margin-bottom: 1rem;
      font-size: 2.1rem;
      text-transform: uppercase;
      font-family: $pontano;
      color: $negro;
    }

    p {
      margin: 0;
      width: 50%;
      text-align: center;
      font-family: $montserrat;
      font-size: 1.05rem;
      color: $gris;
      line-height: 2.1rem;
    }
  }

  .wrapper-galeria {
    .container-imgs {
      .top {
        width: 100%;
        height: auto;
        display: flex;
        .imagen {
          width: 25%;
          height: 350px;
          background-color: $gris;
          position: relative;
          cursor: pointer;
          figure {
            margin: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: all 0.8s ease 0s;
              overflow: hidden;
            }
          }
          .text {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            transition: 0.8s all ease-in-out;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            opacity: 0;
            z-index: 3;
            h4 {
              color: $blanco;
              font-size: 2rem;
              text-shadow: 1px 1px 10px $oscuro;
              margin: 0;
              margin-bottom: 0.5rem;
              font-family: $montserrat;
              text-transform: uppercase;
              font-weight: 900;
            }
            p {
              color: $blanco;
              font-size: 0.9rem;
              text-align: center;
              text-shadow: 1px 1px 10px $oscuro;
              padding: 0 1rem;
              margin: 0;
              margin-top: 0.5rem;
              font-family: $pontano;
              font-weight: 600;
              line-height: 1.1rem;
            }
            a {
              padding: 0.5rem;
              position: absolute;
              top: 0.5rem;
              right: 0.5rem;
              button {
                cursor: pointer;
                background: transparent;
                border: none;
                span {
                  font-size: 1.3rem;
                  color: $blanco;
                }
              }
            }
          }
          .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0;
            background-color: $oscuro;
            transition: 0.3s all ease-in-out;
            pointer-events: none;
          }
          &:hover {
            figure {
              img {
                transform: scale(1.1);
              }
            }
            .text {
              opacity: 1;
            }
            .overlay {
              opacity: 0.5;
            }
          }
        }
      }
      .bottom {
        width: 100%;
        height: auto;
        display: flex;
        .imagen {
          width: 25%;
          height: 350px;
          background-color: $gris;
          position: relative;
          cursor: pointer;
          figure {
            margin: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: all 0.8s ease 0s;
              overflow: hidden;
            }
          }
          .text {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            transition: 0.8s all ease-in-out;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            opacity: 0;
            z-index: 3;
            h4 {
              color: $blanco;
              font-size: 2rem;
              text-shadow: 1px 1px 10px $oscuro;
              margin: 0;
              margin-bottom: 0.5rem;
              font-family: $montserrat;
              text-transform: uppercase;
              font-weight: 900;
            }
            p {
              color: $blanco;
              font-size: 0.9rem;
              text-align: center;
              text-shadow: 1px 1px 10px $oscuro;
              padding: 0 1rem;
              margin: 0;
              margin-top: 0.5rem;
              font-family: $pontano;
              font-weight: 600;
              line-height: 1.1rem;
            }
            a {
              padding: 0.5rem;
              position: absolute;
              top: 0.5rem;
              right: 0.5rem;
              button {
                cursor: pointer;
                background: transparent;
                border: none;
                span {
                  font-size: 1.3rem;
                  color: $blanco;
                }
              }
            }
          }
          .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0;
            background-color: $oscuro;
            transition: 0.3s all ease-in-out;
            pointer-events: none;
          }
          &:hover {
            figure {
              img {
                transform: scale(1.1);
              }
            }
            .text {
              opacity: 1;
            }
            .overlay {
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
}

section.contacto {
  padding: 4rem 0;
  width: 100%;
  height: auto;
  .wrapper-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    .first-box {
      background-image: url('/img/contacto.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 600px;
      address {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0rem 1rem;
        background-color: rgba(0, 0, 0, 0.4);
        h2 {
          font-style: normal;
          color: $blanco;
          font-size: 2.1rem;
          font-family: $montserrat;
          text-align: center;
          text-shadow: 1px 1px 10px $negro;
          margin-bottom: 2rem;
          text-transform: uppercase;
        }
        p {
          color: $blanco;
          margin: 1.2rem 0;
          text-align: center;
          font-weight: 600;
          font-size: 1rem;
          font-family: $montserrat;
          letter-spacing: 2px;
          text-shadow: 1px 1px 10px $negro;
        }
        a {
          font-size: 1.5rem;
          text-decoration: none;
          color: $blanco;
          font-family: $montserrat;
          font-weight: 600;
        }
      }
    }
    .second-box {
      width: 100%;
      height: 600px;
      background-color: $gris-claro;
      .main-map {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media (min-width: 1921px) {
  /*
  header {
  }
  */

  section.bienvenido {
    width: 100%;
    height: 100vh;
    padding: 3rem 0;

    .container-bienvenidos {
      width: 100%;
      height: 100%;
      display: flex;

      .main-imagenes {
        width: 40%;
        height: auto;
        margin-right: 1rem;
        position: relative;
        transition: 0.3s all ease-in-out;

        figure.first-img {
          margin: 0;
          position: absolute;
          transform: translateY(50%);
          left: 12rem;

          img {
            width: 400px;
          }
        }

        figure.second-img {
          margin: 0;
          width: 40%;
          position: absolute;
          right: 6rem;
          z-index: -1;
          top: 4rem;

          img {
            width: 100%;
            height: auto;
          }
        }
      }

      .main-text {
        width: 60%;
        height: auto;
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
          margin: 0;
          font-family: $goodvibes;
          font-size: 6.7rem;
          color: $oliva;
          font-weight: 500;
        }

        h2 {
          font-family: $pontano;
          text-transform: uppercase;
          font-weight: 800;
          margin-bottom: 1rem;
          font-size: 3.1rem;
        }

        .texto-principal {
          font-family: $montserrat;
          margin: 0;
          font-size: 2.5rem;
          margin-bottom: 1rem;
          line-height: 4rem;
        }

        .info-texto {
          font-family: $montserrat;
          margin: 0;
          color: $gris;
          font-size: 1.5rem;
          line-height: 3rem;
        }

        .btn-nosotros {
          width: 100%;
          height: auto;
          position: relative;

          button {
            margin: 2rem 0 2rem 1rem;
            border: unset;
            background: unset;
            cursor: pointer;
            transition: 0.3s all ease-in-out;
            text-transform: uppercase;
            font-family: $montserrat;
            font-size: 1.5rem;
            font-weight: 900;
            color: $oscuro;

            &::after {
              content: "";
              height: 2rem;
              width: 4px;
              position: absolute;
              left: 0;
              background-color: $oscuro;
              top: calc(50% - 17px);
              transition: 0.3s all ease-in-out;
            }

            &:hover {
              color: $oro;

              &::after {
                background-color: $oro;
              }
            }
          }
        }
      }
    }
  }

  section.info-menu {
    width: 100%;
    height: 100vh;
    background-color: $negro;

    .main-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;

      .info-box {
        width: 100%;
        height: auto;
        background-color: $negro;
        padding: 5rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
          margin: 0;
          font-family: "Great Vibes", cursive;
          font-size: 6.7rem;
          color: $oliva;
          font-weight: 500;
        }

        h2 {
          font-family: "Pontano Sans", sans-serif;
          text-transform: uppercase;
          font-weight: 800;
          margin-bottom: 1rem;
          font-size: 3.1rem;
          color: $blanco;
        }

        .texto-principal,
        .texto-secundario {
          font-family: "Montserrat", sans-serif;
          margin: 0;
          font-weight: 400;
          color: $gris-claro;
          font-size: 1.5rem;
          line-height: 3rem;
        }

        .texto-secundario {
          margin-top: 1rem;
        }

        .btn-nosotros {
          width: 100%;
          height: auto;
          position: relative;

          button {
            margin: 2rem 0 2rem 1rem;
            border: unset;
            background: unset;
            cursor: pointer;
            -webkit-transition: 0.5s all ease-in-out;
            transition: 0.5s all ease-in-out;
            text-transform: uppercase;
            font-family: "Montserrat", sans-serif;
            font-size: 1.5rem;
            font-weight: 900;
            color: $blanco;

            &::after {
              content: "";
              height: 2rem;
              width: 2px;
              position: absolute;
              left: 0;
              background-color: $blanco;
              top: calc(50% - 17px);
              -webkit-transition: 0.5s all ease-in-out;
              transition: 0.5s all ease-in-out;
            }

            &:hover {
              color: $oro;

              &::after {
                background-color: $oro;
              }
            }
          }
        }
      }

      .main-img {
        width: 80%;
        figure {
          margin: 0;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }

  section.galeria {
    padding: 4rem 0 6rem 0;
    .main-text {
      h3 {
        font-size: 6.7rem;
        font-weight: 500;
      }
      h2 {
        font-size: 3.1rem;
      }
      p {
        font-size: 2rem;
        line-height: 3rem;
      }
    }

    .wrapper-galeria {
      .container-imgs {
        .top,
        .bottom {
          .imagen {
            height: 500px;
          }
        }
      }
    }
  }
}

@media (min-width: 1601px) and (max-width: 1920px) {
  /*
  header {
  }
  */

  section.bienvenido {
    width: 100%;
    height: 100vh;
    padding: 3rem 0;

    .container-bienvenidos {
      width: 100%;
      height: 100%;
      display: flex;

      .main-imagenes {
        width: 40%;
        height: auto;
        margin-right: 1rem;
        position: relative;
        transition: 0.3s all ease-in-out;

        figure.first-img {
          margin: 0;
          position: absolute;
          transform: translateY(30%);
          left: 12rem;
        }

        figure.second-img {
          margin: 0;
          width: 30%;
          position: absolute;
          right: 4rem;
          z-index: -1;
          top: 4rem;

          img {
            width: 100%;
            height: auto;
          }
        }
      }

      .main-text {
        width: 60%;
        height: auto;
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
          margin: 0;
          font-family: $goodvibes;
          font-size: 4.7rem;
          color: $oliva;
          font-weight: 500;
        }

        h2 {
          font-family: $pontano;
          text-transform: uppercase;
          font-weight: 800;
          margin-bottom: 1rem;
          font-size: 2.1rem;
        }

        .texto-principal {
          font-family: $montserrat;
          margin: 0;
          font-size: 1.1rem;
          margin-bottom: 1rem;
          line-height: 2rem;
        }

        .info-texto {
          font-family: $montserrat;
          margin: 0;
          font-size: 1rem;
          color: $gris;
          line-height: 2rem;
        }

        .btn-nosotros {
          width: 100%;
          height: auto;
          position: relative;

          button {
            margin: 2rem 0 2rem 1rem;
            border: unset;
            background: unset;
            cursor: pointer;
            transition: 0.3s all ease-in-out;
            text-transform: uppercase;
            font-family: $montserrat;
            font-size: 0.9rem;
            font-weight: 900;
            color: $oscuro;

            &::after {
              content: "";
              height: 2rem;
              width: 4px;
              position: absolute;
              left: 0;
              background-color: $oscuro;
              top: calc(50% - 17px);
              transition: 0.3s all ease-in-out;
            }

            &:hover {
              color: $oro;

              &::after {
                background-color: $oro;
              }
            }
          }
        }
      }
    }
  }

  section.info-menu {
    width: 100%;
    height: 100vh;
    background-color: $negro;

    .main-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;

      .info-box {
        width: 100%;
        height: auto;
        background-color: $negro;
        padding: 5rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
          margin: 0;
          font-family: "Great Vibes", cursive;
          font-size: 4.7rem;
          color: $oliva;
          font-weight: 500;
        }

        h2 {
          font-family: "Pontano Sans", sans-serif;
          text-transform: uppercase;
          font-weight: 800;
          margin-bottom: 1rem;
          font-size: 2.1rem;
          color: $blanco;
        }

        .texto-principal,
        .texto-secundario {
          font-family: "Montserrat", sans-serif;
          margin: 0;
          color: $gris;
          font-weight: 400;
          font-size: 1.05rem;
          color: $gris-claro;
          line-height: 2.1rem;
        }

        .texto-secundario {
          margin-top: 1rem;
        }

        .btn-nosotros {
          width: 100%;
          height: auto;
          position: relative;

          button {
            margin: 2rem 0 2rem 1rem;
            border: unset;
            background: unset;
            cursor: pointer;
            -webkit-transition: 0.5s all ease-in-out;
            transition: 0.5s all ease-in-out;
            text-transform: uppercase;
            font-family: "Montserrat", sans-serif;
            font-size: 1.1rem;
            font-weight: 900;
            color: $blanco;

            &::after {
              content: "";
              height: 2rem;
              width: 2px;
              position: absolute;
              left: 0;
              background-color: $blanco;
              top: calc(50% - 17px);
              -webkit-transition: 0.5s all ease-in-out;
              transition: 0.5s all ease-in-out;
            }

            &:hover {
              color: $oro;

              &::after {
                background-color: $oro;
              }
            }
          }
        }
      }

      .main-img {
        width: 80%;
        figure {
          margin: 0;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }

  section.galeria {
    padding: 4rem 0 6rem 0;
    .main-text {
      h3 {
        font-weight: 500;
      }
    }
  }
}

@media (min-width: 1441px) and (max-width: 1600px) {
  /*
  header {
  }
  */

  section.bienvenido {
    width: 100%;
    height: 100vh;
    padding: 3rem 0;

    .container-bienvenidos {
      width: 100%;
      height: 100%;
      display: flex;

      .main-imagenes {
        width: 50%;
        height: auto;
        margin-right: 1rem;
        position: relative;
        transition: 0.3s all ease-in-out;

        figure.first-img {
          margin: 0;
          position: absolute;
          transform: translateY(30%);
          left: 8rem;
        }

        figure.second-img {
          margin: 0;
          width: 40%;
          position: absolute;
          right: 4rem;
          z-index: -1;
          top: 4rem;

          img {
            width: 100%;
            height: auto;
          }
        }
      }

      .main-text {
        width: 50%;
        height: auto;
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
          margin: 0;
          font-family: $goodvibes;
          font-size: 4.7rem;
          color: $oliva;
          font-weight: 500;
        }

        h2 {
          font-family: $pontano;
          text-transform: uppercase;
          font-weight: 800;
          margin-bottom: 1rem;
          font-size: 2.1rem;
        }

        .texto-principal {
          font-family: $montserrat;
          margin: 0;
          font-size: 1.05rem;
          margin-bottom: 1rem;
          line-height: 2rem;
        }

        .info-texto {
          font-family: $montserrat;
          margin: 0;
          font-size: 1rem;
          color: $gris;
          line-height: 1.8rem;
        }

        .btn-nosotros {
          width: 100%;
          height: auto;
          position: relative;

          button {
            margin: 2rem 0 2rem 1rem;
            border: unset;
            background: unset;
            cursor: pointer;
            transition: 0.3s all ease-in-out;
            text-transform: uppercase;
            font-family: $montserrat;
            font-size: 0.8rem;
            font-weight: 900;
            color: $oscuro;

            &::after {
              content: "";
              height: 2rem;
              width: 4px;
              position: absolute;
              left: 0;
              background-color: $oscuro;
              top: calc(50% - 17px);
              transition: 0.3s all ease-in-out;
            }

            &:hover {
              color: $oro;

              &::after {
                background-color: $oro;
              }
            }
          }
        }
      }
    }
  }

  section.info-menu {
    width: 100%;
    height: 100vh;
    background-color: $negro;

    .main-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;

      .info-box {
        width: 100%;
        height: auto;
        background-color: $negro;
        padding: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
          margin: 0;
          font-family: "Great Vibes", cursive;
          font-size: 4.7rem;
          color: $oliva;
          font-weight: 500;
        }

        h2 {
          font-family: "Pontano Sans", sans-serif;
          text-transform: uppercase;
          font-weight: 800;
          margin-bottom: 1rem;
          font-size: 2.1rem;
          color: $blanco;
        }

        .texto-principal,
        .texto-secundario {
          font-family: "Montserrat", sans-serif;
          margin: 0;
          color: $gris;
          font-weight: 400;
          font-size: 1rem;
          color: $gris-claro;
          line-height: 1.8rem;
        }

        .texto-secundario {
          margin-top: 1rem;
        }

        .btn-nosotros {
          width: 100%;
          height: auto;
          position: relative;

          button {
            margin: 2rem 0 2rem 1rem;
            border: unset;
            background: unset;
            cursor: pointer;
            -webkit-transition: 0.5s all ease-in-out;
            transition: 0.5s all ease-in-out;
            text-transform: uppercase;
            font-family: "Montserrat", sans-serif;
            font-size: 0.8rem;
            font-weight: 900;
            color: $blanco;

            &::after {
              content: "";
              height: 2rem;
              width: 2px;
              position: absolute;
              left: 0;
              background-color: $blanco;
              top: calc(50% - 17px);
              -webkit-transition: 0.5s all ease-in-out;
              transition: 0.5s all ease-in-out;
            }

            &:hover {
              color: $oro;

              &::after {
                background-color: $oro;
              }
            }
          }
        }
      }

      .main-img {
        width: 80%;
        figure {
          margin: 0;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }

  section.galeria {
    .main-text {
      h3 {
        font-weight: 500;
      }
    }
  }
}

@media (min-width: 1201px) and (max-width: 1440px) {
  /*
  header {
  }
  */

  section.bienvenido {
    width: 100%;
    height: 100vh;
    padding: 3rem 0;

    .container-bienvenidos {
      width: 100%;
      height: 100%;
      display: flex;

      .main-imagenes {
        width: 50%;
        height: auto;
        margin-right: 1rem;
        position: relative;
        transition: 0.3s all ease-in-out;

        figure.first-img {
          margin: 0;
          position: absolute;
          transform: translateY(50%);
          left: 5rem;
        }

        figure.second-img {
          margin: 0;
          width: 50%;
          position: absolute;
          right: 4rem;
          z-index: -1;
          top: 4rem;

          img {
            width: 100%;
            height: auto;
          }
        }
      }

      .main-text {
        width: 50%;
        height: auto;
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
          margin: 0;
          font-family: $goodvibes;
          font-size: 4.7rem;
          color: $oliva;
          font-weight: 500;
        }

        h2 {
          font-family: $pontano;
          text-transform: uppercase;
          font-weight: 800;
          margin-bottom: 1rem;
          font-size: 2.1rem;
        }

        .texto-principal {
          font-family: $montserrat;
          margin: 0;
          font-size: 1.3rem;
          margin-bottom: 1rem;
          line-height: 2.2rem;
        }

        .info-texto {
          font-family: $montserrat;
          margin: 0;
          font-size: 1.05rem;
          color: $gris;
          line-height: 2.1rem;
        }

        .btn-nosotros {
          width: 100%;
          height: auto;
          position: relative;

          button {
            margin: 2rem 0 2rem 1rem;
            border: unset;
            background: unset;
            cursor: pointer;
            transition: 0.3s all ease-in-out;
            text-transform: uppercase;
            font-family: $montserrat;
            font-size: 1.1rem;
            font-weight: 900;
            color: $oscuro;

            &::after {
              content: "";
              height: 2rem;
              width: 4px;
              position: absolute;
              left: 0;
              background-color: $oscuro;
              top: calc(50% - 17px);
              transition: 0.3s all ease-in-out;
            }

            &:hover {
              color: $oro;

              &::after {
                background-color: $oro;
              }
            }
          }
        }
      }
    }
  }

  section.info-menu {
    width: 100%;
    height: 100vh;
    background-color: $negro;

    .main-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;

      .info-box {
        width: 100%;
        height: auto;
        background-color: $negro;
        padding: 5rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
          margin: 0;
          font-family: "Great Vibes", cursive;
          font-size: 4.7rem;
          color: $oliva;
          font-weight: 500;
        }

        h2 {
          font-family: "Pontano Sans", sans-serif;
          text-transform: uppercase;
          font-weight: 800;
          margin-bottom: 1rem;
          font-size: 2.1rem;
          color: $blanco;
        }

        .texto-principal,
        .texto-secundario {
          font-family: "Montserrat", sans-serif;
          margin: 0;
          color: $gris;
          font-weight: 400;
          font-size: 1.05rem;
          color: $gris-claro;
          line-height: 2.1rem;
        }

        .texto-secundario {
          margin-top: 1rem;
        }

        .btn-nosotros {
          width: 100%;
          height: auto;
          position: relative;

          button {
            margin: 2rem 0 2rem 1rem;
            border: unset;
            background: unset;
            cursor: pointer;
            -webkit-transition: 0.5s all ease-in-out;
            transition: 0.5s all ease-in-out;
            text-transform: uppercase;
            font-family: "Montserrat", sans-serif;
            font-size: 1.1rem;
            font-weight: 900;
            color: $blanco;

            &::after {
              content: "";
              height: 2rem;
              width: 2px;
              position: absolute;
              left: 0;
              background-color: $blanco;
              top: calc(50% - 17px);
              -webkit-transition: 0.5s all ease-in-out;
              transition: 0.5s all ease-in-out;
            }

            &:hover {
              color: $oro;

              &::after {
                background-color: $oro;
              }
            }
          }
        }
      }

      .main-img {
        width: 80%;
        figure {
          margin: 0;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }

  section.galeria {
    .main-text {
      h3 {
        font-weight: 500;
      }
    }
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  /*
  header {
  }
  */

  section.bienvenido {
    width: 100%;
    height: 100vh;
    padding: 3rem 0;

    .container-bienvenidos {
      width: 100%;
      height: 100%;
      display: flex;

      .main-imagenes {
        width: 50%;
        height: auto;
        margin-right: 1rem;
        position: relative;
        transition: 0.3s all ease-in-out;

        figure.first-img {
          margin: 0;
          position: absolute;
          transform: translateY(50%);
        }

        figure.second-img {
          margin: 0;
          width: 70%;
          position: absolute;
          right: 0;
          z-index: -1;

          img {
            width: 100%;
            height: auto;
          }
        }
      }

      .main-text {
        width: 50%;
        height: auto;
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
          margin: 0;
          font-family: $goodvibes;
          font-size: 2.7rem;
          color: $oliva;
          font-weight: 500;
        }

        h2 {
          font-family: $pontano;
          text-transform: uppercase;
          font-weight: 800;
          margin-bottom: 1rem;
        }

        .texto-principal {
          font-family: $montserrat;
          margin: 0;
          font-size: 1.15rem;
          margin-bottom: 1rem;
        }

        .info-texto {
          font-family: $montserrat;
          margin: 0;
          font-size: 1rem;
          color: $gris;
        }

        .btn-nosotros {
          width: 100%;
          height: auto;
          position: relative;

          button {
            margin: 2rem 0 2rem 1rem;
            border: unset;
            background: unset;
            cursor: pointer;
            transition: 0.3s all ease-in-out;
            text-transform: uppercase;
            font-family: $montserrat;
            font-size: 0.8rem;
            font-weight: 900;
            color: $oscuro;

            &::after {
              content: "";
              height: 2rem;
              width: 2px;
              position: absolute;
              left: 0;
              background-color: $oscuro;
              top: calc(50% - 17px);
              transition: 0.3s all ease-in-out;
            }

            &:hover {
              color: $oro;

              &::after {
                background-color: $oro;
              }
            }
          }
        }
      }
    }
  }

  section.info-menu {
    width: 100%;
    height: 100vh;
    background-color: $negro;

    .main-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;

      .info-box {
        width: 100%;
        height: auto;
        background-color: $negro;
        padding: 5rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
          margin: 0;
          font-family: "Great Vibes", cursive;
          font-size: 2.7rem;
          color: $oliva;
          font-weight: 500;
        }

        h2 {
          font-family: "Pontano Sans", sans-serif;
          text-transform: uppercase;
          font-weight: 800;
          margin-bottom: 1rem;
          color: $blanco;
        }

        .texto-principal,
        .texto-secundario {
          font-family: "Montserrat", sans-serif;
          margin: 0;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5rem;
          color: $gris-claro;
        }

        .texto-secundario {
          margin-top: 1rem;
        }

        .btn-nosotros {
          width: 100%;
          height: auto;
          position: relative;

          button {
            margin: 2rem 0 2rem 1rem;
            border: unset;
            background: unset;
            cursor: pointer;
            -webkit-transition: 0.5s all ease-in-out;
            transition: 0.5s all ease-in-out;
            text-transform: uppercase;
            font-family: "Montserrat", sans-serif;
            font-size: 0.8rem;
            font-weight: 900;
            color: $blanco;

            &::after {
              content: "";
              height: 2rem;
              width: 2px;
              position: absolute;
              left: 0;
              background-color: $blanco;
              top: calc(50% - 17px);
              -webkit-transition: 0.5s all ease-in-out;
              transition: 0.5s all ease-in-out;
            }

            &:hover {
              color: $oro;

              &::after {
                background-color: $oro;
              }
            }
          }
        }
      }

      .main-img {
        width: 80%;
        figure {
          margin: 0;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }

  section.galeria {
    padding: 3rem 0;
    .main-text {
      padding: 0 1rem 4rem 1rem;
      h3 {
        font-size: 2.7rem;
        font-weight: 500;
      }
      h2 {
        font-size: 1.5rem;
        text-align: center;
      }
      p {
        width: 100%;
        line-height: 1.5;
        font-size: 1rem;
      }
    }
    .wrapper-galeria {
      .container-imgs {
        .top {
          flex-direction: column;
          flex-flow: wrap;
          .imagen {
            width: 50%;
          }
        }
        .bottom {
          flex-direction: column;
          flex-flow: wrap;
          .imagen {
            width: 50%;
          }
        }
      }
    }
  }

  section.contacto {
    border: 2px solid blue;
    padding: 3rem 0;
    width: 100%;
    height: auto;
    .wrapper-box {
      border: 1px solid green;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      .first-box {
        border: 1px solid red;
        background-image: url('/img/contacto.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 415px;
        address {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 100%;
          padding: 0rem 1rem;
          background-color: rgba(0, 0, 0, 0.4);
          h2 {
            font-style: normal;
            color: $blanco;
            font-size: 2.1rem;
            font-family: $montserrat;
            text-align: center;
            text-shadow: 1px 1px 10px $negro;
            margin-bottom: 2rem;
            text-transform: uppercase;
          }
          p {
            color: $blanco;
            margin: 1.2rem 0;
            text-align: center;
            font-weight: 600;
            font-size: 1rem;
            font-family: $montserrat;
            letter-spacing: 2px;
            text-shadow: 1px 1px 10px $negro;
          }
          a {
            font-size: 1.5rem;
            text-decoration: none;
            color: $blanco;
            font-family: $montserrat;
            font-weight: 600;
          }
        }
      }
      .second-box {
        border: 1px solid black;
        width: 100%;
        height: 415px;
        .main-map {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /*
  header {
  }
  */

  section.bienvenido {
    width: 100%;
    height: auto;
    padding: 5rem 0;

    .container-bienvenidos {
      width: 100%;
      height: 100%;
      display: flex;

      .main-imagenes {
        width: 50%;
        height: auto;
        margin-right: 1rem;
        position: relative;
        transition: 0.3s all ease-in-out;

        figure.first-img {
          margin: 0;
          position: absolute;
          bottom: 0;
          left: 0;
        }

        figure.second-img {
          margin: 0;
          width: 50%;
          position: absolute;
          right: 1rem;
          z-index: -1;

          img {
            width: 100%;
            height: auto;
          }
        }
      }

      .main-text {
        width: 50%;
        height: auto;
        padding: 0 1rem;

        h3 {
          margin: 0;
          font-family: $goodvibes;
          font-size: 2.7rem;
          font-weight: 500;
          color: $oliva;
        }

        h2 {
          font-family: $pontano;
          text-transform: uppercase;
          font-weight: 800;
          margin-bottom: 1rem;
        }

        .texto-principal {
          font-family: $montserrat;
          margin: 0;
          font-size: 1.15rem;
          margin-bottom: 1rem;
        }

        .info-texto {
          font-family: $montserrat;
          margin: 0;
          font-size: 1rem;
          color: $gris;
        }

        .btn-nosotros {
          width: 100%;
          height: auto;
          position: relative;

          button {
            margin: 2rem 0 2rem 1rem;
            border: unset;
            background: unset;
            cursor: pointer;
            transition: 0.3s all ease-in-out;
            text-transform: uppercase;
            font-family: $montserrat;
            font-size: 0.8rem;
            font-weight: 900;
            color: $oscuro;

            &::after {
              content: "";
              height: 2rem;
              width: 2px;
              position: absolute;
              left: 0;
              background-color: $oscuro;
              top: calc(50% - 17px);
              transition: 0.3s all ease-in-out;
            }

            &:hover {
              color: $oro;

              &::after {
                background-color: $oro;
              }
            }
          }
        }
      }
    }
  }

  section.info-menu {
    width: 100%;
    height: auto;
    background-color: $negro;

    .main-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;

      .info-box {
        width: 100%;
        height: auto;
        background-color: $negro;
        padding: 5rem 2rem;

        h3 {
          margin: 0;
          font-family: "Great Vibes", cursive;
          font-size: 2.7rem;
          color: #999966;
          font-weight: 500;
        }

        h2 {
          font-family: "Pontano Sans", sans-serif;
          text-transform: uppercase;
          font-weight: 800;
          margin-bottom: 1rem;
          color: $blanco;
        }

        .texto-principal,
        .texto-secundario {
          font-family: "Montserrat", sans-serif;
          margin: 0;
          font-size: 0.83rem;
          color: $gris;
          font-weight: 400;
          line-height: 1.5rem;
          color: $gris-claro;
        }

        .texto-secundario {
          margin-top: 1rem;
        }

        .btn-nosotros {
          width: 100%;
          height: auto;
          position: relative;

          button {
            margin: 2rem 0 2rem 1rem;
            border: unset;
            background: unset;
            cursor: pointer;
            -webkit-transition: 0.5s all ease-in-out;
            transition: 0.5s all ease-in-out;
            text-transform: uppercase;
            font-family: "Montserrat", sans-serif;
            font-size: 0.8rem;
            font-weight: 900;
            color: $blanco;

            &::after {
              content: "";
              height: 2rem;
              width: 2px;
              position: absolute;
              left: 0;
              background-color: $blanco;
              top: calc(50% - 17px);
              -webkit-transition: 0.5s all ease-in-out;
              transition: 0.5s all ease-in-out;
            }

            &:hover {
              color: $oro;

              &::after {
                background-color: $oro;
              }
            }
          }
        }
      }

      .main-img {
        width: 80%;
        figure {
          margin: 0;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }

  section.galeria {
    padding: 3rem 0;
    .main-text {
      padding: 0 1rem 4rem 1rem;
      h3 {
        font-size: 2.7rem;
        font-weight: 500;
      }
      h2 {
        font-size: 1.5rem;
        text-align: center;
      }
      p {
        width: 100%;
        line-height: 1.5;
        font-size: 1rem;
      }
    }
    .wrapper-galeria {
      .container-imgs {
        .top {
          flex-direction: column;
          flex-flow: wrap;
          .imagen {
            width: 50%;
          }
        }
        .bottom {
          flex-direction: column;
          flex-flow: wrap;
          .imagen {
            width: 50%;
          }
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  /*
  header {
  }
  */

  section.bienvenido {
    width: 100%;
    height: auto;
    padding: 4rem 0;

    .container-bienvenidos {
      width: 100%;
      height: 100%;

      .main-imagenes {
        display: none;
      }

      .main-text {
        width: 100%;
        height: auto;
        padding: 0 1rem;

        h3 {
          margin: 0;
          font-family: $goodvibes;
          font-size: 2.7rem;
          color: $oliva;
          font-weight: 500;
        }

        h2 {
          font-family: $pontano;
          text-transform: uppercase;
          font-weight: 800;
          margin-bottom: 1rem;
        }

        .texto-principal {
          font-family: $montserrat;
          margin: 0;
          font-size: 1.15rem;
          margin-bottom: 1rem;
        }

        .info-texto {
          font-family: $montserrat;
          margin: 0;
          font-size: 1rem;
          color: $gris;
        }

        .btn-nosotros {
          width: 100%;
          height: auto;
          position: relative;

          button {
            margin: 2rem 0 2rem 1rem;
            border: unset;
            background: unset;
            cursor: pointer;
            transition: 0.3s all ease-in-out;
            text-transform: uppercase;
            font-family: $montserrat;
            font-size: 0.8rem;
            font-weight: 900;
            color: $oscuro;

            &::after {
              content: "";
              height: 2rem;
              width: 2px;
              position: absolute;
              left: 0;
              background-color: $oscuro;
              top: calc(50% - 17px);
              transition: 0.3s all ease-in-out;
            }

            &:hover {
              color: $oro;

              &::after {
                background-color: $oro;
              }
            }
          }
        }
      }
    }
  }

  section.info-menu {
    width: 100%;
    height: auto;
    background-color: $negro;

    .main-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      .info-box {
        width: 100%;
        height: auto;
        background-color: $negro;
        padding: 3rem 1rem;

        h3 {
          margin: 0;
          font-family: "Great Vibes", cursive;
          font-size: 2.7rem;
          color: #999966;
          font-weight: 500;
        }

        h2 {
          font-family: "Pontano Sans", sans-serif;
          text-transform: uppercase;
          font-weight: 800;
          margin-bottom: 1rem;
          color: $blanco;
        }

        .texto-principal,
        .texto-secundario {
          font-family: "Montserrat", sans-serif;
          margin: 0;
          font-size: 0.83rem;
          color: $gris;
          font-weight: 400;
          line-height: 1.5rem;
          color: $gris-claro;
        }

        .texto-secundario {
          margin-top: 1rem;
        }

        .btn-nosotros {
          width: 100%;
          height: auto;
          position: relative;

          button {
            margin: 2rem 0 2rem 1rem;
            border: unset;
            background: unset;
            cursor: pointer;
            -webkit-transition: 0.5s all ease-in-out;
            transition: 0.5s all ease-in-out;
            text-transform: uppercase;
            font-family: "Montserrat", sans-serif;
            font-size: 0.8rem;
            font-weight: 900;
            color: $blanco;

            &::after {
              content: "";
              height: 2rem;
              width: 2px;
              position: absolute;
              left: 0;
              background-color: $blanco;
              top: calc(50% - 17px);
              -webkit-transition: 0.5s all ease-in-out;
              transition: 0.5s all ease-in-out;
            }

            &:hover {
              color: $oro;

              &::after {
                background-color: $oro;
              }
            }
          }
        }
      }

      .main-img {
        figure {
          margin: 0;
          img {
            width: 100%;
            height: 500px;
            object-fit: cover;
          }
        }
      }
    }
  }

  section.galeria {
    padding: 3rem 0;
    .main-text {
      padding: 0 1rem 4rem 1rem;
      h3 {
        font-size: 2.7rem;
        font-weight: 500;
      }
      h2 {
        font-size: 1.5rem;
        text-align: center;
      }
      p {
        width: 100%;
        line-height: 1.5;
        font-size: 1rem;
      }
    }
    .wrapper-galeria {
      .container-imgs {
        .top {
          flex-direction: column;
          .imagen {
            width: 100%;
          }
        }
        .bottom {
          flex-direction: column;
          .imagen {
            width: 100%;
          }
        }
      }
    }
  }

  section.contacto {
    padding: 3rem 0;
    width: 100%;
    height: auto;
    .wrapper-box {
      width: 100%;
      height: 100%;
      flex-direction: row;
      .first-box {
        background-image: url('/img/contacto.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 415px;
        address {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 100%;
          padding: 0rem 1rem;
          background-color: rgba(0, 0, 0, 0.4);
          h2 {
            font-style: normal;
            color: $blanco;
            font-size: 1.5rem;
            font-family: $montserrat;
            text-align: center;
            text-shadow: 1px 1px 10px $negro;
            margin-bottom: 2rem;
            text-transform: uppercase;
          }
          p {
            color: $blanco;
            margin: 1.2rem 0;
            text-align: center;
            font-weight: 600;
            font-size: 1.05rem;
            font-family: $montserrat;
            letter-spacing: 2px;
            text-shadow: 1px 1px 10px $negro;
          }
          a {
            font-size: 1.2rem;
            text-decoration: none;
            color: $blanco;
            font-family: $montserrat;
            font-weight: 600;
          }
        }
      }
      .second-box {
        width: 100%;
        height: 415px;
        .main-map {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  /*
  header {
  }
  */

  section.bienvenido {
    width: 100%;
    height: auto;
    padding: 4rem 0;

    .container-bienvenidos {
      width: 100%;
      height: 100%;

      .main-imagenes {
        display: none;
      }

      .main-text {
        width: 100%;
        height: auto;
        padding: 0 1rem;

        h3 {
          margin: 0;
          font-family: $goodvibes;
          font-size: 2.7rem;
          color: $oliva;
          font-weight: 500;
        }

        h2 {
          font-family: $pontano;
          text-transform: uppercase;
          font-weight: 800;
          margin-bottom: 1rem;
        }

        .texto-principal {
          font-family: $montserrat;
          margin: 0;
          font-size: 1.15rem;
          margin-bottom: 1rem;
        }

        .info-texto {
          font-family: $montserrat;
          margin: 0;
          font-size: 1rem;
          color: $gris;
        }

        .btn-nosotros {
          width: 100%;
          height: auto;
          position: relative;

          button {
            margin: 2rem 0 2rem 1rem;
            border: unset;
            background: unset;
            cursor: pointer;
            transition: 0.5s all ease-in-out;
            text-transform: uppercase;
            font-family: $montserrat;
            font-size: 0.8rem;
            font-weight: 900;
            color: $oscuro;

            &::after {
              content: "";
              height: 2rem;
              width: 2px;
              position: absolute;
              left: 0;
              background-color: $oscuro;
              top: calc(50% - 17px);
              transition: 0.5s all ease-in-out;
            }

            &:hover {
              color: $oro;

              &::after {
                background-color: $oro;
              }
            }
          }
        }
      }
    }
  }

  section.info-menu {
    width: 100%;
    height: auto;
    background-color: $negro;

    .main-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      .info-box {
        width: 100%;
        height: auto;
        background-color: $negro;
        padding: 3rem 1rem;

        h3 {
          margin: 0;
          font-family: "Great Vibes", cursive;
          font-size: 2.7rem;
          color: #999966;
          font-weight: 500;
        }

        h2 {
          font-family: "Pontano Sans", sans-serif;
          text-transform: uppercase;
          font-weight: 800;
          margin-bottom: 1rem;
          color: $blanco;
        }

        .texto-principal,
        .texto-secundario {
          font-family: "Montserrat", sans-serif;
          margin: 0;
          font-size: 0.83rem;
          color: $gris;
          font-weight: 400;
          line-height: 1.5rem;
          color: $gris-claro;
        }

        .texto-secundario {
          margin-top: 1rem;
        }

        .btn-nosotros {
          width: 100%;
          height: auto;
          position: relative;

          button {
            margin: 2rem 0 2rem 1rem;
            border: unset;
            background: unset;
            cursor: pointer;
            -webkit-transition: 0.5s all ease-in-out;
            transition: 0.5s all ease-in-out;
            text-transform: uppercase;
            font-family: "Montserrat", sans-serif;
            font-size: 0.8rem;
            font-weight: 900;
            color: $blanco;

            &::after {
              content: "";
              height: 2rem;
              width: 2px;
              position: absolute;
              left: 0;
              background-color: $blanco;
              top: calc(50% - 17px);
              -webkit-transition: 0.5s all ease-in-out;
              transition: 0.5s all ease-in-out;
            }

            &:hover {
              color: $oro;

              &::after {
                background-color: $oro;
              }
            }
          }
        }
      }

      .main-img {
        figure {
          margin: 0;
          img {
            width: 100%;
            height: 385px;
            object-fit: cover;
          }
        }
      }
    }
  }

  section.galeria {
    padding: 4rem 0 3rem 0;
    .main-text {
      padding: 0 1rem 4rem 1rem;
      h3 {
        font-size: 2.7rem;
        font-weight: 500;
      }
      h2 {
        font-size: 1.5rem;
        text-align: center;
      }
      p {
        width: 100%;
        line-height: 1.5;
        font-size: 1rem;
      }
    }
    .wrapper-galeria {
      .container-imgs {
        .top {
          flex-direction: column;
          .imagen {
            width: 100%;
          }
        }
        .bottom {
          flex-direction: column;
          .imagen {
            width: 100%;
          }
        }
      }
    }
  }

  section.contacto {
    padding: 3rem 0;
    width: 100%;
    height: auto;
    .wrapper-box {
      width: 100%;
      height: 100%;
      flex-direction: column;
      .first-box {
        background-image: url('/img/contacto.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 415px;
        address {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 100%;
          padding: 0rem 1rem;
          background-color: rgba(0, 0, 0, 0.4);
          h2 {
            font-style: normal;
            color: $blanco;
            font-size: 1.5rem;
            font-family: $montserrat;
            text-align: center;
            text-shadow: 1px 1px 10px $negro;
            margin-bottom: 2rem;
            text-transform: uppercase;
          }
          p {
            color: $blanco;
            margin: 1.2rem 0;
            text-align: center;
            font-weight: 600;
            font-size: 1rem;
            font-family: $montserrat;
            letter-spacing: 2px;
            text-shadow: 1px 1px 10px $negro;
          }
          a {
            font-size: 1.2rem;
            text-decoration: none;
            color: $blanco;
            font-family: $montserrat;
            font-weight: 600;
          }
        }
      }
      .second-box {
        width: 100%;
        height: 415px;
        .main-map {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
