$montserrat: 'Montserrat', sans-serif;
$goodvibes: 'Great Vibes', cursive;
$pontano: 'Pontano Sans', sans-serif;

$oliva: #999966;
$gris: rgb(88, 88, 88);
$oro: #a9910c;
$oscuro: rgba(25, 25, 25, 0.843);
$negro: #16191e;
$blanco: #fff;
$gris-claro: rgb(167, 167, 167);